.vscode/settings.json
FUKY_DATA/obj/FUKY_DATA.csproj.nuget.dgspec.json
FUKY_DATA/obj/FUKY_DATA.csproj.nuget.g.props
FUKY_DATA/obj/FUKY_DATA.csproj.nuget.g.targets
FUKY_DATA/obj/project.assets.json
FUKY_DATA/obj/project.nuget.cache
FUKY_DATA/obj/Debug/FUKY_DATA.csproj.AssemblyReference.cache
